---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1
    class="text-foreground mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl"
  >
    Just how old are they?
  </h1>
</Layout>
