---
import type { Generation } from "@/lib/types"

interface Props {
  gridTemplateColumns: string
  gridTemplateRows: string
  generations: Generation[]
}

const { gridTemplateColumns, gridTemplateRows, generations }: Props =
  Astro.props
---

<div
  class="absolute -z-10 mt-15 grid w-max gap-y-8 md:mt-16"
  style={`grid-template-columns: ${gridTemplateColumns}; grid-template-rows: ${gridTemplateRows};`}
>
  {
    generations.map((generation) => (
      <div class="col-span-full h-7 rounded-full bg-gray-200/80 md:h-10" />
    ))
  }
</div>
