---
import type { Generation } from "@/lib/types"

interface Props {
  generations: Generation[]
}

const { generations }: Props = Astro.props
---

<div
  class="sticky top-7.5 left-2 z-10 ml-9 flex h-0 flex-col gap-7 text-left select-none md:top-10 md:left-9 md:gap-12"
>
  {
    generations
      .map((generation) => (
        <div class="text-xs md:text-base">
          {generation.name}
          <span class="block text-xs text-gray-500 md:inline">
            {generation.start} - {generation.end}
          </span>
        </div>
      ))
      .reverse()
  }
</div>
