---
import GenGridHeading from "@/components/GenGridHeading.astro"

interface Props {
  gridTemplateColumns: string
  years: number[]
}

const { gridTemplateColumns, years }: Props = Astro.props
---

<div
  class="grid-container ml-3 grid h-full w-max text-left after:absolute"
  style={`grid-template-columns: ${gridTemplateColumns};`}
>
  {
    years.map((year) => (
      <GenGridHeading
        class="grid-item select-none data-[selected=true]:font-bold"
        data-year={year}
        data-selected={false}
      >
        {year}
      </GenGridHeading>
    ))
  }
</div>
